/*BORDER MODEL*/
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}



/*HTML*/
html {
	height: 100%;
}



/*BODY*/
body {
	height: 100%;
	font-family: 'fira_sanslight';
	font-size: 15px;
	line-height: 1.4;
	color: #4a545d;
	background-color: #fbfcfd;
	background-repeat: repeat;
	background-position: 0 0;
	background-image: url(../images/comppattern2.png);
}



/*HEADINGS*/
h1 {
	font-family: 'fira_sansbook';
	font-weight: normal;
	font-size: 27px;
	color: #4a545d;
}

h2 {
	font-family: 'fira_sansbook';
	font-weight: normal;
	font-size: 25px;
	color: #4a545d;
}

h3 {
	font-family: 'fira_sansbook';
	font-weight: normal;
	font-size: 23px;
	color: #4a545d;
}

h4 {
	font-family: 'fira_sansbook';
	font-weight: normal;
	font-size: 21px;
	color: #4a545d;
}

h5 {
	font-family: 'fira_sansbook';
	font-weight: normal;
	font-size: 19px;
	color: #4a545d;
}

h6 {
	font-family: 'fira_sansbook';
	font-weight: normal;
	font-size: 17px;
	color: #4a545d;
}



/*PAGE WRAPPER*/
.page-wrapper{
	position:relative;
	min-height:100%;
	height:auto!important;
	overflow:hidden;
}

.page-wrapper:after {
	content: "";
	height: 83px;
	display: block;
}



/*HEADER*/
.header {
	position: relative;
	min-width: 290px;
	background-color: #eff3f7;
}

.header:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	left: 0;
	bottom: 0;
	background-color: #1c667a;
	background-image: -moz-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
}

.header__wrapper {
	max-width: 1230px;
	margin:0 auto;
	padding: 0 15px;
}

.header__left {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	text-align: left;
}

.header__right {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	text-align: right;
}



/*LOGO*/
.logo {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 243px;
	height: 42px;
	margin-top: 40px;
	margin-bottom: 39px;
	overflow: hidden;
}

.logo span {
	text-indent: -999px;
}

.logo img {
	width: 100%;
}



/*SOCIAL*/
.social {
	display: inline-block;
	vertical-align: top;
	padding-top: 35px;
	padding-bottom: 34px;
}

.social__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.social__item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 47px;
	height: 47px;
	margin: 0;
	padding: 0;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}

.social__item + .social__item {
	margin-left: 24px;
}

.social__link {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: -1px -1px;
	background-image: url(../images/social@1x.png);
}

.social-vk {
	background-position: -1px -1px;
}

.social-vk:hover {
	background-position: -1px -49px;
}

.social-twitter {
	background-position: -48px -1px;
}

.social-twitter:hover {
	background-position: -48px -49px;
}

.social-facebook {
	background-position: -96px -1px;
}

.social-facebook:hover {
	background-position: -96px -49px;
}

.social-github {
	background-position: -144px -1px;
}

.social-github:hover {
	background-position: -144px -49px;
}

.social_mob {
	display: none;
	min-width: 290px;
	padding-top: 0;
	padding-bottom: 20px;
}

.social_mob .social__list {
	text-align: center;
}




/*BURGER*/
.burger {
	display: none;
	vertical-align: top;
	margin-top: 49px;
	margin-left: 60px;
}

.burger__row {
	display: block;
  	width: 25px;
  	height: 5px;
  	background-color: #58697a;
  	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;
}

.burger__row + .burger__row {
	margin-top: 3px;
}
  




/*MAIN*/
.main {
	max-width: 990px;
	min-width: 290px;
	margin: 0 auto;
	padding-top: 39px;
	padding-bottom: 39px;
	padding-left: 15px;
	padding-right: 15px;
}



/*ASIDE*/
.aside {
	display: block;
	width: 250px;
	float: left;
}



/*NAVIGATION*/
.navigation {
	margin-bottom: 24px;
	overflow: hidden;
	background-color: #eff3f7;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

.navigation__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.navigation__item {
	position: relative;
	display: block;
}

.navigation__item + .navigation__item:after {
	content: '';
	position: absolute;
	display: block;
	width: 230px;
	height: 2px;
	top: 0;
	left: 50%;
	margin-top: -2px;
	margin-left: -115px;
	background-color: #3ba8c0;
}

.navigation__link {
	display: block;
	width: 100%;
	padding-top: 22px;
	padding-bottom: 18px;
	padding-left: 28px;
	font-family: 'fira_sansbook';
	font-size: 23px;
	color: #959aa8;
	text-decoration: none;
}

.navigation__link:hover {
	color: #3ba8c0;
}

.navigation-state-active {
	color: #FFF;
	background-color: #3ba8c0;
}

.navigation-state-active:hover {
	color: #FFF;
}



/*CONTACTS*/
.contacts {
	overflow: hidden;
	background-color: #3ba8c0;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

.contacts__title {
	padding-top: 14px;
	padding-bottom: 6px;
	padding-left: 20px;
	font-family: 'fira_sansbook';
	font-size: 21px;
	line-height: 21px;
	color: #FFF;
}

.contacts__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.contacts__item {
	display: block;
	position: relative;
}

.contacts__link {
	display: block;
	position: relative;
	padding-top: 11px;
	padding-bottom: 12px;
	padding-left: 60px;
	font-family: 'fira_sansbook';
	font-size: 17px;
	line-height: 17px;
	color: #FFF;
	text-decoration: none;
}

.contacts__link:hover {
	text-decoration: underline;
}

.contacts__link:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url(../images/contacts@1x.png);
}

.contacts__item:nth-child(1) .contacts__link {
	background-color: #41b9d4;
}

.contacts__item:nth-child(2) .contacts__link {
	background-color: #48cbe8;
}

.contacts__item:nth-child(3) .contacts__link {
	background-color: #51daf8;
}

.contacts-mail:before {
	width: 21px;
	height: 16px;
	top: 11px;
	left: 26px;
	background-position: -2px -1px;
}

.contacts-phone:before {
	width: 19px;
	height: 20px;
	top: 8px;
	left: 30px;
	background-position: -23px -1px;
}

.contacts-skype:before {
	width: 20px;
	height: 20px;
	top: 10px;
	left: 30px;
	background-position: -43px -1px;
}

.contacts_mob {
	display: none;
	min-width: 290px;
	margin-bottom: 20px;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
			border-radius: 0px;
}

.contacts_mob .contacts__title {
	display: none;
}

.contacts_mob .contacts__item {
	display: inline-block;
	vertical-align: top;
	width: 33.33333333%;
	height: 43px;
	white-space: nowrap;
}

.contacts_mob .contacts__link {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0;
	padding-bottom: 0;
	height: 43px;
	line-height: 43px;
	text-align: center;
	overflow: hidden;
}

.contacts_mob .contacts__link:before {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	top: auto;
	left: auto;
	margin-right: 15px;
}


/*CONTENT*/
.content {
	display: block;
	padding-left: 310px;
}



/*BOX*/
.box {
	position: relative;
	background-color: #eff3f7;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

.box + .box {
	margin-top: 26px;
}

.box__title {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'fira_sansbook';
	font-size: 27px;
	line-height: 27px;
	color: #3ba8c0;
}

.box__title span {
	display: inline-block;
	vertical-align: top;
	padding-top: 20px;
	padding-bottom: 19px;
	padding-left: 22px;
	padding-right: 22px;
	border-bottom: 2px solid #3ba8c0;
}

.box__content {
	padding-left: 48px;
	padding-right: 48px;
}



/*TAG*/
.tag {
	margin-left: 3px;
}

.tag__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.tag__item {
	display: inline-block;
	vertical-align: top;
	margin-right: 4px;
	margin-bottom: 8px;
	padding-top: 2px;
	padding-bottom: 3px;
	padding-left: 14px;
	padding-right: 14px;
	font-family: 'proxima_nova_condensedSBd';
	font-size: 14px;
	line-height: 14px;
	color: #FFF;
	background: #3ba8c0; /* Old browsers */
	background: -webkit-linear-gradient(#3ba8c0 0%, #3ba8c0 50%, #2e8ca2 50%, #2e8ca2 100%);
	background: -o-linear-gradient(#3ba8c0 0%, #3ba8c0 50%, #2e8ca2 50%, #2e8ca2 100%);
	background: linear-gradient(#3ba8c0 0%, #3ba8c0 50%, #2e8ca2 50%, #2e8ca2 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8ca2',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;
}



/*FOOTER*/
.footer {
	position: relative;
	min-width: 290px;
	height: 83px;
	margin-top: -83px;	
	/*margin-top: 39px;*/
	padding-top: 37px;
	padding-bottom: 30px;
	text-align: center;
	background-color: #eff3f7;
}

.footer:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	left: 0;
	top: 0;
	background-color: #1c667a;
	background-image: -moz-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
}

.footer__wrapper {
	position: relative;
	max-width: 990px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.footer__lock {
	position: absolute;
	width: 20px;
	height: 32px;
	top: 0;
	left: 0;
	margin-top: -9px;
	margin-left: 47px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url(../images/lock@1x.png);
}

.footer__lock:hover {
	background-position: -21px 0;
}

.footer__copy {
	padding-left: 100px;
	padding-right: 100px;
	font-size: 13px;
	line-height: 13px;
	color: #4a545d;
}


/*CLEARFIX*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}